spring:
  cloud:
    config:
      token: roottoken
    gateway:
      routes:
        - id: authModule
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/login/**, /register/**, /authorize/**
        - id: projectModule
          uri: lb://PROJECT-SERVICE
          predicates:
            - Path=/test/**
  application:
    name: api-gateway
server:
  port: 8080